.svn
.settings
bin
gen
pkg

/AndroidQuickPreferencesProject
/backup
/.metadata

*.bak
/google.DateTimeSlider/SliderClient/.classpath
/google.DateTimeSlider/DateSlider/.classpath
/BroadCastTest/.classpath
/EzTimeTracker/.classpath
/EzTimeTracker/nbandroid/
/google.DateTimeSlider/DateSlider/nbandroid/
/EzTimeTracker/target

gradle-app.setting
.gradle
settings.gradle
build