<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.zetter.androidTime" android:versionName="2.0 2012-04-24" android:versionCode="20"
	android:installLocation="preferExternal"
	>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-sdk android:minSdkVersion="6" android:targetSdkVersion="6" />
		    
	<application android:icon="@drawable/icon" android:label="@string/app_name">

		<activity android:label="@string/app_name"
			android:name="com.zettsett.timetracker.activity.MainActivity"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="com.zettsett.timetracker.activity.TimeSheetReportActivity"></activity>
		<activity android:name="com.zettsett.timetracker.activity.CategoryListActivity"></activity>
		<activity android:name="com.zettsett.timetracker.activity.SummaryReportActivity"></activity>
		<activity android:name="com.zettsett.timetracker.activity.TimeSliceEditActivity"
			android:screenOrientation="portrait"></activity>
		<activity android:name="com.zettsett.timetracker.activity.DataExportActivity"
			android:screenOrientation="portrait"></activity>
		<activity android:name="com.zettsett.timetracker.activity.RemoveTimeSliceActivity"
			android:screenOrientation="portrait"></activity>
	    <activity android:name="com.zettsett.timetracker.activity.SettingsActivity"
			android:screenOrientation="portrait"></activity>
		<receiver android:enabled="true"
				android:name="com.zettsett.timetracker.receiver.RemoteTimeTrackerReceiver">
			<intent-filter>
				<action android:name="com.zettsett.timetracker.action.COMMAND" />
		        <data android:scheme="cmd"/>
		        <!-- 
		        cmd:start:category
		        cmd:stop
		        cmd:pause
		         -->
   			</intent-filter>
		</receiver>
	</application>

</manifest> 