<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="de.k3b.timetracker" 
    android:versionName="2.5.934 2014-0219" 
    android:versionCode="34"
	android:installLocation="preferExternal"
	>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-sdk android:minSdkVersion="6" android:targetSdkVersion="6" />
		    
	<application android:icon="@drawable/icon" android:label="@string/app_name" android:allowBackup="false">

		<activity android:label="@string/app_name"
			android:name="de.k3b.timetracker.activity.PunchInPunchOutActivity"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="de.k3b.timetracker.activity.TimeSheetDetailListActivity"/>
		<activity android:name="de.k3b.timetracker.activity.TimeSheetSummaryListActivity"/>
		<activity android:name="de.k3b.timetracker.activity.CategoryListActivity"/>
		<activity android:name="de.k3b.timetracker.activity.TimeSliceEditActivity"
			android:screenOrientation="portrait"/>
		<activity android:name="de.k3b.timetracker.activity.TimeSliceRemoveActivity"
			android:screenOrientation="portrait"/>
		<activity android:name="de.k3b.timetracker.activity.ReportFilterActivity" />
	    <activity android:name="de.k3b.timetracker.activity.SettingsActivity"
			android:screenOrientation="portrait"/>
		<receiver android:enabled="true"
				android:name="de.k3b.timetracker.receiver.RemoteTimeTrackerBroadcastReceiver">
			<intent-filter>
				<action android:name="de.k3b.timetracker.action.COMMAND" />
		        <data android:scheme="cmd"/>
		        <!-- 
		        cmd:start:category{:notes}
		        cmd:stop{:notes}
		         -->
   			</intent-filter>
		</receiver>
	</application>

</manifest> 